body {
	padding-top: 56px;
}
em{
	font-style: italic;		
	font-size: 22px;
}
strong{
	font-weight: bold;
	font-size: 22px;
}
p {
  font-size: 16px;
  text-align: justify;
  font-family: Tahoma;
}
blockquote {
  margin-bottom: 3em;
}
footer {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.6em;
    font-weight: 700;
    color: darken($white, 15%);
}
.citacao{
  font-size: 18px;
  font-style: italic;	
}
.quote-by {
  display: block;
  padding-right: 10px;
  text-align: right;
  font-size: 13px;
  font-style: italic;
}
.table{
  display: block;
  text-align: left;
  font-family: Tahoma;
  font-size: 14px;
  font-style: italic;	
}